<!--TODO: This should be on the dashboard somewhere or the sidenav when you're on the dashboard, and should make this a nice popup or something-->
<div fxLayoutAlign="center center" fxFlexFill>
    <form
        [formGroup]="musicForm"
        (ngSubmit)="onSubmit()"
        fxLayout="column"
        fxLayoutAlign="start center"
        fxLayoutGap="1rem"
    >
        <form fxLayout="column" fxFlex fxLayoutGap="1rem">
            <img
                priority
                ngSrc="assets/img/fm_logo.png"
                alt="Cover image"
                height="200"
                #img
                width="200"
            />
            <input
                (change)="updateImage($event)"
                hidden
                #imgInput
                type="file"
                accept="image/*"
            />
            <button mat-raised-button (click)="imgInput.click()">
                Choose cover&hellip;
            </button>

            <input
                (change)="updateMusic($event)"
                hidden
                #audioInput
                type="file"
                accept="audio/*"
            />
            <button mat-raised-button (click)="audioInput.click()">
                Choose audio&hellip;
            </button>
        </form>

        <mat-form-field fxFlex subscriptSizing="dynamic">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" type="text" placeholder="A perfect name" />
            <mat-error>Invalid Name</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex subscriptSizing="dynamic">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" placeholder="A fabuluos description..."></textarea>
        </mat-form-field>

        <mat-form-field fxFlex subscriptSizing="dynamic">
            <mat-label>Album</mat-label>
            <input matInput formControlName="album" type="text" />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Upload</button>

        <ng-container *ngIf="taskDone; else progressSpinner" ><mat-icon>done</mat-icon></ng-container>
        <ng-template #progressSpinner>
            <mat-progress-spinner [value]="progress()"></mat-progress-spinner>
        </ng-template>
    </form>
</div>
