<div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <form
        [formGroup]="musicForm"
        (ngSubmit)="onSubmit()"
        fxLayout="column"
        fxLayoutAlign="start center"
        fxLayoutGap="1rem"
    >
        <form fxLayout="column" fxFlex fxLayoutGap="1rem">
            <img
                priority
                ngSrc="assets/img/fm_logo.png"
                alt="Cover image"
                height="200"
                #img
                width="200"
            />
            <input
                (change)="updateImage($event)"
                hidden
                #imgInput
                type="file"
                accept="image/*"
            />
            <button mat-raised-button (click)="imgInput.click()">
                Choose cover&hellip;
            </button>

            <input
                (change)="updateMusic($event)"
                hidden
                #audioInput
                type="file"
                accept="audio/*"
            />
            <button mat-raised-button (click)="audioInput.click()">
                Choose audio&hellip;
            </button>
        </form>

        <mat-form-field fxFlex subscriptSizing="dynamic">
            <mat-label>Name</mat-label>
            <input #musicName matInput formControlName="name" type="text" />
            <mat-error>Invalid Name</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex subscriptSizing="dynamic">
            <mat-label>Album</mat-label>
            <input matInput formControlName="album" type="text" />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Upload</button>

        <mat-progress-spinner [value]="progress()"></mat-progress-spinner>
    </form>
</div>
