.dashboard-card {
    margin: 0.5rem 2rem;
}

.tab-icon {
    margin-right: 0.5rem;
}

.more-button {
    display: flex;
}
.justify {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    &:has(mat-paginator) {
        height: 100%;
        flex-direction: column;
    }
}

.actions {
    display: flex;
    justify-content: flex-end;
}

.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
