.dashboard-card {
    margin: 0.5rem 2rem;
}

.tab-icon {
    margin-right: 0.5rem;
}

.more-button {
    position: absolute;
    top: 0;
    right: 0;
}

.dashboard-card-content {
    text-align: center;
}
