<div fxFlexFill>
    <mat-selection-list *ngIf="searchList; let results; else: loading">
        <ng-container *ngFor="let result of results.slice(pageIndex*pageSize, (pageIndex+1)*pageSize)">
            <mat-list-item (click)="this.play(result)">
                <img
                    matListItemAvatar
                    width="50"
                    height="50"
                    alt="{{ result.name }} image"
                    [src]="
                        result.cover ? result.cover : 'assets/img/fm_logo.png'
                    "
                />
                <h2 matListItemTitle>{{ result.name }}</h2>
                <p matListItemLine>{{ result.author }}</p>
            </mat-list-item>
        </ng-container>

        <p *ngIf="results.length === 0">Nothing to display</p>
        <ng-container *ngIf="results.length > pageSize">
            <mat-paginator
                [length]="results.length"
                [pageSize]="10"
                [pageIndex]="0"
                [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="pageChange($event)"
                aria-label="Select page"
            >
            </mat-paginator>
        </ng-container>
    </mat-selection-list>
</div>
<ng-template #loading>Loading&hellip;</ng-template>
