<div
    fxFlexFill
    fxLayout.xs="column"
    fxLayout.gt-xs="row"
    fxLayoutAlign
    style="margin: 0.5rem 1rem 0 1rem"
>
    <div
        fxFlexOrder.xs="2"
        fxFlex
        fxLayout="column"
        *ngIf="searchList; let results; else: loading"
    >
        <p *ngIf="results.length === 0">Nothing to display</p>
        <mat-selection-list fxFlex>
            <ng-container
                *ngFor="
                    let result of results.slice(
                        pageIndex * pageSize,
                        (pageIndex + 1) * pageSize
                    )
                "
            >
                <mat-list-item (click)="this.play(result)">
                    <img
                        matListItemAvatar
                        width="50"
                        height="50"
                        alt="{{ result.name }} image"
                        [src]="
                            result.cover
                                ? result.cover
                                : 'assets/img/fm_logo.png'
                        "
                    />
                    <h2 matListItemTitle>{{ result.name }}</h2>
                    <p matListItemLine>{{ result.author }}</p>
                    <p matListItemLine>
                        @for (tag of result.tags; track tag) {
                            <mat-chip>{{ tag }}</mat-chip>
                        }
                    </p>
                </mat-list-item>
            </ng-container>
        </mat-selection-list>

        <ng-container *ngIf="results.length > pageSize">
            <mat-paginator
                [length]="results.length"
                [pageSize]="10"
                [pageIndex]="0"
                [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="pageChange($event)"
                aria-label="Select page"
            >
            </mat-paginator>
        </ng-container>
    </div>

    <!--TODO: Make this an extendable field (maybe only on mobile??? Also resolve the search matching bug)-->
    <div class="panel" fxFlexOrder.xs="1">
        <h2>Advanced Search</h2>
        <div>
            <h3>Name</h3>
            <mat-form-field>
                <mat-label>Music name</mat-label>
                <input [(ngModel)]="nameQuery" matInput />
            </mat-form-field>
        </div>

        <div>
            <h3>Author</h3>
            <mat-form-field>
                <mat-label>Author name</mat-label>
                <input [(ngModel)]="authorQuery" matInput />
            </mat-form-field>
        </div>

        <div>
            <h3>Album</h3>
            <mat-form-field>
                <mat-label>Album name</mat-label>
                <input [(ngModel)]="albumQuery" matInput />
            </mat-form-field>
        </div>

        <div>
            <h3>Tag filter</h3>
            <app-tag-chip-input
                (tagsChange)="tagsChange($event)"
            ></app-tag-chip-input>
        </div>
    </div>
    <ng-template #loading>Loading&hellip;</ng-template>
</div>
