<mat-toolbar>
    <mat-toolbar-row fxLayoutAlign="center center" fxHide.gt-xs>
        <ng-container *ngIf="music.name !== ''">
            <p fxFlex>{{ shortenTitle(music.name, 18) }}</p>
        </ng-container>
    </mat-toolbar-row>

    <mat-toolbar-row fxLayoutAlign="center center">
        <audio
            #audio
            (timeupdate)="updateTime()"
            (ended)="atEnd()"
            [loop]="_loop"
        ></audio>

        <img
            fxHide.xs
            priority
            [ngSrc]="music.cover ? music.cover : 'assets/img/fm_logo.png'"
            [alt]="''"
            height="50"
            width="50"
        />

        <ng-container *ngIf="music.name !== ''">
            <p fxHide.xs>{{ shortenTitle(music.name, 18) }}</p>
        </ng-container>

        <div fxFlex fxLayout>
            <div fxFlex fxLayout>
                <button
                    color="primary"
                    mat-icon-button
                    (click)="togglePlayState()"
                >
                    <ng-container>
                        <mat-icon *ngIf="isPlaying; else showPlayIcon"
                            >pause</mat-icon
                        >
                        <ng-template #showPlayIcon
                            ><mat-icon>play_arrow</mat-icon></ng-template
                        >
                    </ng-container>
                </button>
                <mat-slider fxFlex min="0" [max]="duration ? duration : 0">
                    <input
                        #slider
                        matSliderThumb
                        (touchend)="sliderInputDone()"
                        (click)="sliderInputDone()"
                        [(ngModel)]="currentTime"
                    />
                </mat-slider>
                <button
                    [color]="_loop ? 'primary' : 'accent'"
                    mat-icon-button
                    (click)="loop()"
                >
                    <mat-icon>loop</mat-icon>
                </button>
            </div>

            <div fxHide.xs fxFlex fxLayout fxLayoutAlign="end">
                <button color="accent" mat-icon-button (click)="toggleMute()">
                    <ng-container>
                        <mat-icon *ngIf="volume === 0; else showMuteIcon"
                            >volume_off</mat-icon
                        >
                        <ng-template #showMuteIcon
                            ><mat-icon>volume_up</mat-icon></ng-template
                        >
                    </ng-container>
                </button>
                <mat-slider
                    fxFlexOrder
                    color="accent"
                    min="0"
                    max="1"
                    step="0.01"
                >
                    <input matSliderThumb [value]="1.0" [(ngModel)]="volume" />
                </mat-slider>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
