<div fxLayout="column" fxLayoutAlign="center" fxFlexFill>
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="1rem">
        <mat-icon class="icon" svgIcon="firemusic"></mat-icon>
        <h1>Welcome to FireMusic!</h1>
        <p>Have a nice time here!</p>

        <div fxLayout="row" fxLayoutGap="1rem">
            <button mat-raised-button routerLink="/sign-in">Sign in</button>
            <button mat-raised-button routerLink="/sign-up">Sign up</button>
        </div>
    </div>
</div>
