@use "sass:map";

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$red: (
    50: #fefafaff,
    100: #fff0efff,
    200: #ffdbdaff,
    300: #ffbebcff,
    400: #ffa09fff,
    500: #fc8083ff,
    600: #cd6265ff,
    700: #a64e51ff,
    800: #773638ff,
    900: #4b2021ff,
    950: #240c0dff,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $dark-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        950: $light-primary-text,
    ),
);

$orange: (
    50: #fefaf9ff,
    100: #fff1ebff,
    200: #ffddcfff,
    300: #fec1a8ff,
    400: #fba581ff,
    500: #f88756ff,
    600: #c9683dff,
    700: #a25330ff,
    800: #743a20ff,
    900: #4a2211ff,
    950: #230d05ff,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $dark-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        950: $light-primary-text,
    ),
);

$amber-50: oklch(0.988281 0.0046875 66.6667);
$amber-100: oklch(0.966797 0.0171875 66.6667);
$amber-200: oklch(0.919922 0.0421875 66.6667);
$amber-300: oklch(0.857422 0.078125 66.6667);
$amber-400: oklch(0.794922 0.114063 66.6667);
$amber-500: oklch(0.732422 0.151562 66.6667);
$amber-600: oklch(0.619141 0.135937 66.6667);
$amber-700: oklch(0.527344 0.115625 66.6667);
$amber-800: oklch(0.414063 0.090625 66.6667);
$amber-900: oklch(0.302734 0.065625 66.6667);
$amber-950: oklch(0.191406 0.040625 66.6667);

$yellow-50: oklch(0.988281 0.0046875 90);
$yellow-100: oklch(0.964844 0.0171875 90);
$yellow-200: oklch(0.917969 0.0421875 90);
$yellow-300: oklch(0.853516 0.078125 90);
$yellow-400: oklch(0.789063 0.114063 90);
$yellow-500: oklch(0.726563 0.151562 90);
$yellow-600: oklch(0.611328 0.135937 90);
$yellow-700: oklch(0.523438 0.115625 90);
$yellow-800: oklch(0.410156 0.090625 90);
$yellow-900: oklch(0.300781 0.065625 90);
$yellow-950: oklch(0.191406 0.040625 90);

$lime-50: oklch(0.988281 0.0046875 106.667);
$lime-100: oklch(0.964844 0.0171875 106.667);
$lime-200: oklch(0.916016 0.0421875 106.667);
$lime-300: oklch(0.849609 0.078125 106.667);
$lime-400: oklch(0.785156 0.114063 106.667);
$lime-500: oklch(0.720703 0.151562 106.667);
$lime-600: oklch(0.607422 0.135937 106.667);
$lime-700: oklch(0.519531 0.115625 106.667);
$lime-800: oklch(0.408203 0.090625 106.667);
$lime-900: oklch(0.298828 0.065625 106.667);
$lime-950: oklch(0.189453 0.040625 106.667);

$green: (
    50: oklch(0.988281 0.0046875 123.333),
    100: oklch(0.962891 0.0171875 123.333),
    200: oklch(0.914063 0.0421875 123.333),
    300: oklch(0.847656 0.078125 123.333),
    400: oklch(0.78125 0.114063 123.333),
    500: oklch(0.714844 0.151562 123.333),
    600: oklch(0.603516 0.135937 123.333),
    700: oklch(0.515625 0.115625 123.333),
    800: oklch(0.404297 0.090625 123.333),
    900: oklch(0.296875 0.065625 123.333),
    950: oklch(0.1875 0.040625 123.333),
);

$emerald: (
    50: oklch(0.988281 0.0046875 140),
    100: oklch(0.962891 0.0171875 140),
    200: oklch(0.914063 0.0421875 140),
    300: oklch(0.845703 0.078125 140),
    400: oklch(0.777344 0.114063 140),
    500: oklch(0.710938 0.151562 140),
    600: oklch(0.597656 0.135937 140),
    700: oklch(0.511719 0.115625 140),
    800: oklch(0.400391 0.090625 140),
    900: oklch(0.294922 0.065625 140),
    950: oklch(0.1875 0.040625 140),
);

$teal: (
    50: oklch(0.988281 0.0046875 160),
    100: oklch(0.962891 0.0171875 160),
    200: oklch(0.912109 0.0421875 160),
    300: oklch(0.84375 0.078125 160),
    400: oklch(0.775391 0.114063 160),
    500: oklch(0.705078 0.151562 160),
    600: oklch(0.59375 0.135937 160),
    700: oklch(0.507813 0.115625 160),
    800: oklch(0.398438 0.090625 160),
    900: oklch(0.291016 0.065625 160),
    950: oklch(0.183594 0.040625 160),
);

$cyan: (
    50: oklch(0.988281 0.0046875 180),
    100: oklch(0.962891 0.0171875 180),
    200: oklch(0.912109 0.0421875 180),
    300: oklch(0.84375 0.078125 180),
    400: oklch(0.773438 0.114063 180),
    500: oklch(0.705078 0.151562 180),
    600: oklch(0.591797 0.135937 180),
    700: oklch(0.505859 0.115625 180),
    800: oklch(0.396484 0.090625 180),
    900: oklch(0.289063 0.065625 180),
    950: oklch(0.181641 0.040625 180),
);

$sky: (
    50: oklch(0.988281 0.0046875 210),
    100: oklch(0.962891 0.0171875 210),
    200: oklch(0.914063 0.0421875 210),
    300: oklch(0.845703 0.078125 210),
    400: oklch(0.777344 0.114063 210),
    500: oklch(0.708984 0.151562 210),
    600: oklch(0.595703 0.135937 210),
    700: oklch(0.507813 0.115625 210),
    800: oklch(0.398438 0.090625 210),
    900: oklch(0.291016 0.065625 210),
    950: oklch(0.181641 0.040625 210),
);

$blue: (
    50: oklch(0.988281 0.0046875 240),
    100: oklch(0.964844 0.0171875 240),
    200: oklch(0.916016 0.0421875 240),
    300: oklch(0.849609 0.078125 240),
    400: oklch(0.783203 0.114063 240),
    500: oklch(0.71875 0.151562 240),
    600: oklch(0.605469 0.135937 240),
    700: oklch(0.517578 0.115625 240),
    800: oklch(0.40625 0.090625 240),
    900: oklch(0.296875 0.065625 240),
    950: oklch(0.1875 0.040625 240),
);

$indigo: (
    50: oklch(0.988281 0.0046875 260),
    100: oklch(0.964844 0.0171875 260),
    200: oklch(0.917969 0.0421875 260),
    300: oklch(0.853516 0.078125 260),
    400: oklch(0.789063 0.114063 260),
    500: oklch(0.726563 0.151562 260),
    600: oklch(0.613281 0.135937 260),
    700: oklch(0.523438 0.115625 260),
    800: oklch(0.412109 0.090625 260),
    900: oklch(0.300781 0.065625 260),
    950: oklch(0.191406 0.040625 260),
);

$violet: (
    50: #fafbfeff,
    100: #f1f2ffff,
    200: #dee2ffff,
    300: #c5cbffff,
    400: #aeb4ffff,
    500: #979cffff,
    600: #777ad5ff,
    700: #5f62adff,
    800: #43457cff,
    900: #292a4fff,
    950: #111226ff,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $dark-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        950: $light-primary-text,
    ),
);

$purple-50: oklch(0.988281 0.0046875 300);
$purple-100: oklch(0.966797 0.0171875 300);
$purple-200: oklch(0.921875 0.0421875 300);
$purple-300: oklch(0.859375 0.078125 300);
$purple-400: oklch(0.798828 0.114063 300);
$purple-500: oklch(0.738281 0.151562 300);
$purple-600: oklch(0.625 0.135937 300);
$purple-700: oklch(0.533203 0.115625 300);
$purple-800: oklch(0.417969 0.090625 300);
$purple-900: oklch(0.306641 0.065625 300);
$purple-950: oklch(0.195313 0.040625 300);

$fuchsia-50: oklch(0.988281 0.0046875 320);
$fuchsia-100: oklch(0.966797 0.0171875 320);
$fuchsia-200: oklch(0.921875 0.0421875 320);
$fuchsia-300: oklch(0.861328 0.078125 320);
$fuchsia-400: oklch(0.800781 0.114063 320);
$fuchsia-500: oklch(0.742188 0.151562 320);
$fuchsia-600: oklch(0.626953 0.135937 320);
$fuchsia-700: oklch(0.535156 0.115625 320);
$fuchsia-800: oklch(0.419922 0.090625 320);
$fuchsia-900: oklch(0.308594 0.065625 320);
$fuchsia-950: oklch(0.195313 0.040625 320);

$pink-50: oklch(0.988281 0.0046875 340);
$pink-100: oklch(0.966797 0.0171875 340);
$pink-200: oklch(0.923828 0.0421875 340);
$pink-300: oklch(0.863281 0.078125 340);
$pink-400: oklch(0.802734 0.114063 340);
$pink-500: oklch(0.744141 0.151562 340);
$pink-600: oklch(0.628906 0.135937 340);
$pink-700: oklch(0.537109 0.115625 340);
$pink-800: oklch(0.419922 0.090625 340);
$pink-900: oklch(0.308594 0.065625 340);
$pink-950: oklch(0.195313 0.040625 340);

$rose: (
    50: #fefafb,
    100: #fff0f3,
    200: #ffdbe5,
    300: #febdd0,
    400: #fb9fbb,
    500: #f780a8,
    600: #c86185,
    700: #a24d6a,
    800: #74364b,
    900: #49202e,
    950: #230c14,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $dark-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        950: $light-primary-text,
    ),
);

$slate: (
    50: #fafbfeff,
    100: #f0f3ffff,
    200: #dfe3f4ff,
    300: #cacedfff,
    400: #b5b9caff,
    500: #a2a6b6ff,
    600: #808393ff,
    700: #666978ff,
    800: #474a58ff,
    900: #2b2e3bff,
    950: #11141fff,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $dark-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        950: $light-primary-text,
    ),
);

$gray-50: oklch(0.988281 0.0046875 275);
$gray-100: oklch(0.964844 0.016 275);
$gray-200: oklch(0.917969 0.016 275);
$gray-300: oklch(0.853516 0.016 275);
$gray-400: oklch(0.789063 0.016 275);
$gray-500: oklch(0.726563 0.016 275);
$gray-600: oklch(0.613281 0.016 275);
$gray-700: oklch(0.523438 0.016 275);
$gray-800: oklch(0.412109 0.016 275);
$gray-900: oklch(0.302734 0.016 275);
$gray-950: oklch(0.193359 0.016 275);

$zinc-50: oklch(0.988281 0.004875 275);
$zinc-100: oklch(0.964844 0.008 275);
$zinc-200: oklch(0.917969 0.008 275);
$zinc-300: oklch(0.853516 0.008 275);
$zinc-400: oklch(0.789063 0.008 275);
$zinc-500: oklch(0.726563 0.008 275);
$zinc-600: oklch(0.613281 0.008 275);
$zinc-700: oklch(0.523438 0.008 275);
$zinc-800: oklch(0.412109 0.008 275);
$zinc-900: oklch(0.302734 0.008 275);
$zinc-950: oklch(0.193359 0.008 275);

$neutral-50: oklch(0.988281 0 0);
$neutral-100: oklch(0.964844 0 0);
$neutral-200: oklch(0.917969 0 0);
$neutral-300: oklch(0.853516 0 0);
$neutral-400: oklch(0.789063 0 0);
$neutral-500: oklch(0.726563 0 0);
$neutral-600: oklch(0.611328 0 0);
$neutral-700: oklch(0.523438 0 0);
$neutral-800: oklch(0.412109 0 0);
$neutral-900: oklch(0.300781 0 0);
$neutral-950: oklch(0.193359 0 0);

$stone-50: oklch(0.988281 0.008 75);
$stone-100: oklch(0.964844 0.008 75);
$stone-200: oklch(0.917969 0.008 75);
$stone-300: oklch(0.853516 0.008 75);
$stone-400: oklch(0.789063 0.008 75);
$stone-500: oklch(0.726563 0.008 75);
$stone-600: oklch(0.613281 0.008 75);
$stone-700: oklch(0.523438 0.008 75);
$stone-800: oklch(0.412109 0.008 75);
$stone-900: oklch(0.302734 0.008 75);
$stone-950: oklch(0.193359 0.008 75);

$sand-50: oklch(0.988281 0.0104375 75);
$sand-100: oklch(0.964844 0.012 75);
$sand-200: oklch(0.917969 0.012 75);
$sand-300: oklch(0.853516 0.012 75);
$sand-400: oklch(0.789063 0.012 75);
$sand-500: oklch(0.726563 0.012 75);
$sand-600: oklch(0.613281 0.012 75);
$sand-700: oklch(0.523438 0.012 75);
$sand-800: oklch(0.412109 0.012 75);
$sand-900: oklch(0.302734 0.012 75);
$sand-950: oklch(0.193359 0.012 75);

$olive-50: oklch(0.988281 0.008 120);
$olive-100: oklch(0.964844 0.008 120);
$olive-200: oklch(0.917969 0.008 120);
$olive-300: oklch(0.851563 0.008 120);
$olive-400: oklch(0.789063 0.008 120);
$olive-500: oklch(0.724609 0.008 120);
$olive-600: oklch(0.611328 0.008 120);
$olive-700: oklch(0.523438 0.008 120);
$olive-800: oklch(0.410156 0.008 120);
$olive-900: oklch(0.300781 0.008 120);
$olive-950: oklch(0.191406 0.008 120);

$mauve-50: oklch(0.988281 0.008 325);
$mauve-100: oklch(0.966797 0.008 325);
$mauve-200: oklch(0.917969 0.008 325);
$mauve-300: oklch(0.853516 0.008 325);
$mauve-400: oklch(0.789063 0.008 325);
$mauve-500: oklch(0.726563 0.008 325);
$mauve-600: oklch(0.613281 0.008 325);
$mauve-700: oklch(0.523438 0.008 325);
$mauve-800: oklch(0.412109 0.008 325);
$mauve-900: oklch(0.302734 0.008 325);
$mauve-950: oklch(0.193359 0.008 325);
