<div class="container" fxFlexFill fxLayout="column">
    <mat-sidenav-container fxFlexFill>
        <mat-sidenav mode="side" autoFocus="dialog" #sidenav role="navigation">
            <mat-nav-list>
                <a mat-list-item routerLink="/home">
                    <mat-icon matIconPrefix svgIcon="firemusic"></mat-icon>
                    Fire music
                </a>
                <mat-divider></mat-divider>
                <ng-container *ngIf="!authService.isLoggedIn">
                    <a mat-list-item routerLink="/sign-in">Sign in</a>
                </ng-container>
                <a mat-list-item routerLink="/three">Vis</a>
                <ng-container *ngIf="authService.isLoggedIn">
                    <a mat-list-item routerLink="/dashboard">Dashboard</a>
                    <mat-divider></mat-divider>
                    <a mat-list-item routerLink="/profile">Profile</a>
                    <a mat-list-item (click)="authService.signOut()"
                        >Sign out</a
                    >
                </ng-container>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-toolbar color="primary" class="app-bar">
                <ng-container *ngIf="!search; else showSearch">
                    <div fxFlex fxLayout>
                        <button mat-icon-button (click)="sidenav.toggle()">
                            <mat-icon>menu</mat-icon>
                        </button>
                    </div>

                    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
                        <button
                            fxFlex
                            class="icon-container"
                            mat-icon-button
                            routerLink="/home"
                        >
                            <mat-icon svgIcon="firemusic"></mat-icon>
                        </button>
                    </div>

                    <div fxFlex fxLayout fxLayoutAlign="end">
                        <button mat-icon-button (click)="search = true">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                </ng-container>
                <ng-template #showSearch>
                    <mat-form-field fxFlex fxFlexFill subscriptSizing="dynamic">
                        <input
                            matInput
                            #searchInput
                            type="text"
                            (input)="
                                storageService.searchQuery(searchInput.value)
                            "
                            (change)="router.navigate(['search'])"
                            (focusout)="search = false"
                        />
                        <button
                            matSuffix
                            mat-icon-button
                            (click)="search = false"
                        >
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-form-field>
                </ng-template>
            </mat-toolbar>

            <router-outlet></router-outlet>

            <app-music-player *ngIf="authService.isLoggedIn" />
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
