<div class="container">
    <mat-toolbar color="primary">
        <div fxFlex fxLayout>
            <div fxHide.gt-xs>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <button class="icon-container" mat-icon-button routerLink="/home">
                <mat-icon class="icon" svgIcon="firemusic"></mat-icon>
            </button>
        </div>
        <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
            <div fxLayout fxLayoutGap="1rem" class="navigation-items">
                <ng-container *ngIf="!auth.isLoggedIn">
                    <button mat-raised-button routerLink="/sign-in">
                        Sign in
                    </button>
                    <button mat-raised-button routerLink="/sign-up">
                        Sign up
                    </button>
                </ng-container>
                <button mat-raised-button routerLink="/three">Vis</button>
                <ng-container *ngIf="auth.isLoggedIn">
                    <button mat-raised-button routerLink="/dashboard">
                        Dashboard
                    </button>
                    <button mat-raised-button (click)="auth.signOut()">
                        Sign out
                    </button>
                </ng-container>
            </div>
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav">
        <mat-sidenav mode="side" #sidenav role="navigation">
            <mat-nav-list>
                <ng-container *ngIf="!auth.isLoggedIn">
                    <a mat-list-item routerLink="/sign-in">Sign in</a>
                    <a mat-list-item routerLink="/sign-up">Sign up</a>
                </ng-container>
                <a mat-list-item routerLink="/three">Vis</a>
                <ng-container *ngIf="auth.isLoggedIn">
                    <a mat-list-item routerLink="/dashboard"> Dashboard </a>
                    <a mat-list-item (click)="auth.signOut()"> Sign out </a>
                </ng-container>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content (click)="sidenav.close()" class="content">
            <router-outlet></router-outlet>
            <app-music-player [audioPath]="'public/Digital Dreams.mp3'"/>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
