<div fxLayout="column" fxFlexFill>
    <mat-sidenav-container fxFlex>
        <mat-sidenav
            [opened]="!bpObserver.isMatched(Breakpoints.Handset)"
            [mode]="bpObserver.isMatched(Breakpoints.Handset) ? 'over' : 'side'"
            autoFocus="dialog"
            #sidenav
            role="navigation"
        >
            <mat-nav-list class="navList">
                <div>
                    <a mat-list-item routerLink="/home">
                        <mat-icon
                            matListItemIcon
                            svgIcon="firemusic"
                        ></mat-icon>
                        Fire music
                    </a>
                    <mat-divider></mat-divider>

                    <a mat-list-item routerLink="/search">
                        <mat-icon matListItemIcon>search</mat-icon>
                        Search
                    </a>

                    <a mat-list-item routerLink="/visualize">
                        <mat-icon matListItemIcon>3d_rotation</mat-icon>
                        Visualize
                    </a>

                    <a mat-list-item routerLink="/albums"
                        ><mat-icon matListItemIcon>library_music</mat-icon>
                        Albums
                    </a>

                    <a
                        mat-list-item
                        routerLink="/dashboard"
                        *ngIf="authService.isLoggedIn"
                        ><mat-icon matListItemIcon>dashboard</mat-icon>
                        Dashboard
                    </a>

                    <a
                        mat-list-item
                        routerLink="/playlists"
                        *ngIf="authService.isLoggedIn"
                        ><mat-icon matListItemIcon>queue_music</mat-icon>
                        My playlists
                    </a>
                </div>

                <div>
                    <mat-divider></mat-divider>
                    <ng-container *ngIf="!authService.isLoggedIn; else profile">
                        <mat-list-item routerLink="/sign-in">
                            <mat-icon matListItemIcon>login</mat-icon>
                            Sign in
                        </mat-list-item>
                        <mat-list-item routerLink="/sign-up">
                            <mat-icon matListItemIcon>person_add</mat-icon>
                            Sign up
                        </mat-list-item>
                    </ng-container>

                    <ng-template #profile>
                        <a mat-list-item routerLink="/dashboard/profile">
                            <mat-icon matListItemIcon>account_circle</mat-icon>
                            Profile
                        </a>
                        <a mat-list-item (click)="authService.signOut()">
                            <mat-icon matListItemIcon>exit_to_app</mat-icon>
                            Sign out
                        </a>
                    </ng-template>
                </div>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content fxFlex fxLayout="column">
            <mat-toolbar color="primary">
                <div fxFlex>
                    <button mat-icon-button (click)="sidenav.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>

                <div fxFlex fxLayout="column" fxLayoutAlign="center center">
                    <button
                        fxFlex
                        class="icon-container"
                        mat-icon-button
                        routerLink="/home"
                    >
                        <mat-icon svgIcon="firemusic"></mat-icon>
                    </button>
                </div>

                <div fxFlex fxLayout fxLayoutAlign="end">
                    <mat-form-field
                        subscriptSizing="dynamic"
                        [@expandAnimation]="search"
                    >
                        <input
                            matInput
                            #searchInput
                            type="text"
                            (change)="
                                router.navigate(['search'], {
                                    queryParams: {
                                        query: searchInput.value
                                    }
                                })
                            "
                            (focusout)="search = false && search"
                        />
                    </mat-form-field>
                    <button mat-icon-button (click)="toggleSearch()">
                        <mat-icon>
                            @if (search) {
                                cancel
                            } @else {
                                search
                            }
                        </mat-icon>
                    </button>
                </div>
            </mat-toolbar>
            <div fxFlex>
                <router-outlet style="display: none"></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <app-music-player />
</div>
