.app-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.outlet {
    width: 100%;
    height: 100%;
}

.container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.icon-container {
    transform: scale(1.5);
}
