@use "@angular/material" as mat;

@use "sass:map";

@include mat.core();
@import "material-icons/iconfont/material-icons.css";
@import "styles/colors";

$dark-primary: mat.define-palette($orange, 500, 400, 600, 950);
$dark-accent: mat.define-palette($slate, 500, 400, 600, 950);

$light-primary: mat.define-palette($violet, 500, 400, 600, 950);
$light-accent: mat.define-palette($slate, 500, 400, 600, 950);

$warn: mat.define-palette($red, 500, 400, 600, 950);

$typography: mat.define-typography-config(
    $font-family: "InterVariable",
);

$backgrounds: (
    status-bar: #11141fff,
    app-bar: #11141fff,
    background: #11141fff,
    hover: #11141fff,
    card: #11141fff,
    dialog: #11141fff,
    raised-button: #11141fff,
    selected-button: #11141fff,
    selected-disabled-button: #11141fff,
    disabled-button: #11141fff,
    focused-button: #11141fff,
    disabled-button-toggle: #11141fff,
    unselected-chip: #11141fff,
    disabled-list-option: #11141fff,
    tooltip: #11141fff,
);

$light-theme: mat.define-light-theme(
    (
        color: (
            primary: $light-primary,
            accent: $light-accent,
            warn: $warn,
        ),
        typography: $typography,
    )
);

$dark-theme: mat.define-dark-theme(
    (
        color: (
            primary: $dark-primary,
            accent: $dark-accent,
            warn: $warn,
        ),
        typography: $typography,
    )
);



@include mat.all-component-themes($light-theme);

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: InterVariable, "Helvetica Neue", sans-serif;
}

// Based on:
// https://stackoverflow.com/questions/77978760/angular-material-17-how-to-set-custom-background-color
//

$color-map: map.get($dark-theme, "color");
$modified-color-map: map.merge(
    $color-map,
    (
        "background": $backgrounds,
    )
);
$dark-theme: map.merge(
    $dark-theme,
    (
        "color": $modified-color-map,
    )
);

@media (prefers-color-scheme: dark) {
    @include mat.all-component-colors($dark-theme);
}
