<form [formGroup]="selectPlaylistForm" (ngSubmit)="submitSelection()">
    <h2 mat-dialog-title>{{ data.title }}</h2>
    <mat-dialog-content fxLayout="column">
        <p>{{ data.subject }}</p>
        <mat-form-field>
            <mat-label>Playlist</mat-label>
            <input
                type="text"
                placeholder="Existing or new playlist"
                matInput
                formControlName="playlist"
                [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
                @for (playlist of playlists; track playlist) {
                    <mat-option [value]="playlist.title">
                        {{ playlist.title }}
                    </mat-option>
                }
            </mat-autocomplete>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button type="submit">
            {{ data.nameOfAction }}
        </button>
    </mat-dialog-actions>
</form>
